/* .App {
  text-align: center;
} */

.App-logo {
  height: 40vmin;
  pointer-events: none;
}



.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}



.App {
  font-family: sans-serif;
}

span {
  border: 1px solid red;
  background: radial-gradient(black, transparent);
}

.photo-container {
  position: relative;
}

.gray-backdrop {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: gray;
  opacity: 0.5;
  /* Set backdrop opacity to 50% */
}

.photo {
  position: relative;
  width: 100%;
  opacity: 0;
  /* Hide photo by default */
}

.selectable-area {
  background-color: transparent;
}

.blue-box {
  z-index: 1;
}